In [2]:
import os
import math
import pandas as pd

df = pd.read_csv(os.path.join('..','datasets', 'shelter-animal-outcomes.csv.gz'))
pd.set_option('display.max_rows', 10)
pd.set_option('display.notebook_repr_html', True)

import matplotlib.pyplot as plt
%matplotlib inline
plt.style.use('ggplot')

In [3]:
df

,AnimalID,Name,DateTime,OutcomeType,OutcomeSubtype,AnimalType,SexuponOutcome,AgeuponOutcome,Breed,Color
0,A671945,Hambone,2014-02-12 18:22:00,Return_to_owner,NaN,Dog,Neutered Male,1 year,Shetland Sheepdog Mix,Brown/White
1,A656520,Emily,2013-10-13 12:44:00,Euthanasia,Suffering,Cat,Spayed Female,1 year,Domestic Shorthair Mix,Cream Tabby
2,A686464,Pearce,2015-01-31 12:28:00,Adoption,Foster,Dog,Neutered Male,2 years,Pit Bull Mix,Blue/White
3,A683430,NaN,2014-07-11 19:09:00,Transfer,Partner,Cat,Intact Male,3 weeks,Domestic Shorthair Mix,Blue Cream
4,A667013,NaN,2013-11-15 12:52:00,Transfer,Partner,Dog,Neutered Male,2 years,Lhasa Apso/Miniature Poodle,Tan
...,...,...,...,...,...,...,...,...,...,...
26724,A702446,NaN,2015-05-14 11:56:00,Transfer,Partner,Cat,Intact Male,1 month,Domestic Shorthair Mix,Brown Tabby/White
26725,A718934,NaN,2016-01-20 18:59:00,Transfer,SCRP,Cat,Spayed Female,3 months,Domestic Shorthair Mix,Brown Tabby
26726,A698128,Zeus,2015-03-09 13:33:00,Adoption,NaN,Dog,Neutered Male,4 years,Old English Bulldog Mix,White/Tan
26727,A677478,NaN,2014-04-27 12:22:00,Transfer,Partner,Cat,Intact Male,4 weeks,Domestic Shorthair Mix,Black
26728,A706629,NaN,2015-07-02 09:00:00,Transfer,SCRP,Cat,Intact Male,1 year,Domestic Shorthair Mix,Brown Tabby/White

In [4]:
df.describe()

,AnimalID,Name,DateTime,OutcomeType,OutcomeSubtype,AnimalType,SexuponOutcome,AgeuponOutcome,Breed,Color
count,26729,19038,26729,26729,13117,26729,26728,26711,26729,26729
unique,26729,6374,22918,5,16,2,5,44,1380,366
top,A705677,Max,2015-08-11 00:00:00,Adoption,Partner,Dog,Neutered Male,1 year,Domestic Shorthair Mix,Black/White
freq,1,136,19,10769,7816,15595,9779,3969,8810,2824

In [5]:
df.OutcomeType.value_counts()

Adoption           10769
Transfer            9422
Return_to_owner     4786
Euthanasia          1555
Died                 197
Name: OutcomeType, dtype: int64

In [6]:
pd.crosstab(df.OutcomeType, df.OutcomeSubtype)

OutcomeSubtype,Aggressive,At Vet,Barn,Behavior,Court/Investigation,Enroute,Foster,In Foster,In Kennel,In Surgery,Medical,Offsite,Partner,Rabies Risk,SCRP,Suffering
OutcomeType,,,,,,,,,,,,,,,,
Adoption,0,0,1,0,0,0,1800,0,0,0,0,165,0,0,0,0
Died,0,4,0,0,0,8,0,52,114,3,0,0,0,0,0,0
Euthanasia,320,0,0,86,6,0,0,0,0,0,66,0,0,74,0,1002
Transfer,0,0,1,0,0,0,0,0,0,0,0,0,7816,0,1599,0

In [7]:
df.AgeuponOutcome.unique()

array(['1 year', '2 years', '3 weeks', '1 month', '5 months', '4 years',
       '3 months', '2 weeks', '2 months', '10 months', '6 months',
       '5 years', '7 years', '3 years', '4 months', '12 years', '9 years',
       '6 years', '1 weeks', '11 years', '4 weeks', '7 months', '8 years',
       '11 months', '4 days', '9 months', '8 months', '15 years',
       '10 years', '1 week', '0 years', '14 years', '3 days', '6 days',
       '5 days', '5 weeks', '2 days', '16 years', '1 day', '13 years', nan,
       '17 years', '18 years', '19 years', '20 years'], dtype=object)

In [8]:
df.AnimalType.value_counts()

Dog    15595
Cat    11134
Name: AnimalType, dtype: int64

In [9]:
df.Name.value_counts()

Max            136
Bella          135
Charlie        107
Daisy          106
Lucy            94
              ...
Sally Jessy      1
Nelda            1
Hobie Cat        1
Madi             1
Sumi             1
Name: Name, dtype: int64

In [10]:
df.DateTime

0        2014-02-12 18:22:00
1        2013-10-13 12:44:00
2        2015-01-31 12:28:00
3        2014-07-11 19:09:00
4        2013-11-15 12:52:00
                ...
26724    2015-05-14 11:56:00
26725    2016-01-20 18:59:00
26726    2015-03-09 13:33:00
26727    2014-04-27 12:22:00
26728    2015-07-02 09:00:00
Name: DateTime, dtype: object

In [11]:
df.DateTime.mode()

0    2015-08-11 00:00:00
dtype: object

In [12]:
df.DateTime[-1:]

26728    2015-07-02 09:00:00
Name: DateTime, dtype: object

In [13]:
a = pd.to_datetime('2015-07-02 09:00:00')

In [14]:
a.year

2015

In [15]:
df.DateTime=pd.to_datetime(df.DateTime)

In [16]:
df.DateTime

0       2014-02-12 18:22:00
1       2013-10-13 12:44:00
2       2015-01-31 12:28:00
3       2014-07-11 19:09:00
4       2013-11-15 12:52:00
                ...
26724   2015-05-14 11:56:00
26725   2016-01-20 18:59:00
26726   2015-03-09 13:33:00
26727   2014-04-27 12:22:00
26728   2015-07-02 09:00:00
Name: DateTime, dtype: datetime64[ns]

In [17]:
df.OutcomeType.unique()

array(['Return_to_owner', 'Euthanasia', 'Adoption', 'Transfer', 'Died'], dtype=object)

In [18]:
df.OutcomeType.value_counts()

Adoption           10769
Transfer            9422
Return_to_owner     4786
Euthanasia          1555
Died                 197
Name: OutcomeType, dtype: int64

In [19]:
df.OutcomeSubtype.unique()

array([nan, 'Suffering', 'Foster', 'Partner', 'Offsite', 'SCRP',
       'Aggressive', 'Behavior', 'Rabies Risk', 'Medical', 'In Kennel',
       'In Foster', 'Barn', 'Court/Investigation', 'Enroute', 'At Vet',
       'In Surgery'], dtype=object)

In [20]:
pd.crosstab(df.OutcomeSubtype, df.OutcomeType)

OutcomeType          Adoption  Died  Euthanasia  Transfer
OutcomeSubtype
Aggressive                  0     0         320         0
At Vet                      0     4           0         0
Barn                        1     0           0         1
Behavior                    0     0          86         0
Court/Investigation         0     0           6         0
...                       ...   ...         ...       ...
Offsite                   165     0           0         0
Partner                     0     0           0      7816
Rabies Risk                 0     0          74         0
SCRP                        0     0           0      1599
Suffering                   0     0        1002         0

[16 rows x 4 columns]

In [21]:
df.columns

Index([u'AnimalID', u'Name', u'DateTime', u'OutcomeType', u'OutcomeSubtype',
       u'AnimalType', u'SexuponOutcome', u'AgeuponOutcome', u'Breed',
       u'Color'],
      dtype='object')

In [22]:
df1 = df [df.AnimalType == 'Dog']

In [23]:
df2 = df1[(df1.SexuponOutcome == 'Intact Male') | (df1.SexuponOutcome == 'Neutered Male')]

In [24]:
df2.Name.mode()

0    Max
dtype: object

In [25]:
df2.Name.value_counts()

Max        112
Buddy       78
Rocky       76
Charlie     75
Chico       52
          ...
Prada        1
Eubie        1
Yoakum       1
Frisbee      1
Leeland      1
Name: Name, dtype: int64

In [26]:
df_female_cat = df[(df.AnimalType == 'Cat') & ((df.SexuponOutcome == 'Spayed Female') | (df.SexuponOutcome == 'Intact Female'))]

In [27]:
df_female_cat.Name.mode()

0    Bella
dtype: object

In [28]:
df['Sex'] = df.SexuponOutcome.map({'Neutered Male': 'Male', 'Intact Male': 'Male', 'Spayed Female': 'Female', 'Intact Female': 'Female', 'Unknown': 'Unknown'})

In [29]:
pd.crosstab(df.SexuponOutcome, df.Sex)

Sex             Female  Male  Unknown
SexuponOutcome
Intact Female     3511     0        0
Intact Male          0  3525        0
Neutered Male        0  9779        0
Spayed Female     8820     0        0
Unknown              0     0     1093

In [30]:
df['Sterilized'] = df.SexuponOutcome.map({'Neutered Male': False, 'Intact Male': True, 'Spayed Female': False, 'Intact Female': True, 'Unknown': 'Unknown','nan':'Unknown'})

In [31]:
pd.crosstab(df.SexuponOutcome, df.Sterilized)

Sterilized      False  True  Unknown
SexuponOutcome
Intact Female       0  3511        0
Intact Male         0  3525        0
Neutered Male    9779     0        0
Spayed Female    8820     0        0
Unknown             0     0     1093

In [32]:
df.SexuponOutcome.value_counts()

Neutered Male    9779
Spayed Female    8820
Intact Male      3525
Intact Female    3511
Unknown          1093
Name: SexuponOutcome, dtype: int64

In [33]:
if df.iat(i, 'SexuponOutcome') == 'Neutered Male'

SyntaxError: invalid syntax (<ipython-input-33-98236306cb8b>, line 1)

In [ ]:
df['OutcomeType2'] = df.OutcomeType.apply(lambda outcome: 'ReturnToOwner' if outcome == 'Return_to_owner' else outcome)

In [ ]:
df['OutcomeType2'].value_counts()

In [ ]:
def my_outcome(outcome):
    if outcome == 'Return_to_owner':
        return 'ReturnToOwner'
    else:
        return outcome

In [ ]:
df['OutcomeType2'] = df.OutcomeType.apply(my_outcome)

In [ ]:
df['OutcomeType2'].value_counts()

In [ ]:
def my_sex(sex):
    if sex == 'Neutered Male':
        return 'Male'
    elif sex == 'Intact Male':
        return 'Male'
    elif sex == 'Spayed Female':
        return 'Female'
    elif sex =='Intact Female':
        return 'Female'
    else:
        return sex

In [ ]:
'Male' in 'Neutered Male'

In [ ]:
def my_sex1(sex):
    if 'Male' in sex:        
        return 'Male'
    elif 'Female' in sexm:
        return 'Female'
    else:
        return np.nan

In [ ]:
type(df.at[0,'AgeuponOutcome'])

In [ ]:
def my_age(age):
    age1 = str(age)
    if age1 == 'nan':
        return age
    else:
        age2 = age1.split(" ")
        if 'year' in age2[1]:
            return float(age2[0])*52
        elif 'years'in age2[1]:
            return float(age2[0])*52
        elif 'month' in age2[1]:
            return float(age2[0])*4
        elif 'months' in age2[1]:
            return float(age2[0])*4
        elif 'day' in age2[1]:
            return float(age2[0])/7
        elif 'days' in age2[1]:
            return float(age2[0])/7

In [ ]:
df['AgeInWeeks'] = df.AgeuponOutcome.apply(my_age)

In [ ]:
df.AgeInWeeks

In [ ]:
a ='1 year'

In [ ]:
(number, unit) = a.split (' ')

In [ ]:
number=float(number)

In [ ]:
number*10

In [ ]:
def my_age_ivan(age):
    (value, unit) = a.split (' ')
    value = float(value)
    if ((unit == 'day') | (unit == 'days')):
        return value
    elif ((unit == 'week') | (unit == 'weeks')):
        return value*7
    elif 'month' in unit:
        return value*30.5
    ....

In [ ]:
df.Breed.unique()

In [ ]:
df.Color.unique().shape[0]

In [ ]:
df.Breed.unique().shape[0]

In [ ]:
df.Breed.mode()

In [ ]:
df.Color.mode()

In [ ]:
df.Breed.value_counts()

In [ ]:
df.Color.value_counts()

In [ ]:
df.Color.unique()

In [39]:
df[df.AnimalType == 'Cat'].Color.unique()

array(['Cream Tabby', 'Blue Cream', 'Blue Tabby', 'Brown Tabby', 'Black',
       'Orange Tabby/White', 'White', 'Orange Tabby', 'Cream Tabby/White',
       'Blue', 'Calico', 'Torbie', 'Blue/White', 'Black/White',
       'White/Black', 'Tortie', 'Blue Tabby/White', 'Brown Tabby/White',
       'Seal Point', 'Flame Point', 'Black Tabby/White', 'Tortie/Calico',
       'White/Cream Tabby', 'White/Blue Tabby', 'Blue Point',
       'White/Brown Tabby', 'Lynx Point/White', 'Lilac Point',
       'White/Orange Tabby', 'Tortie Point', 'Lynx Point', 'Tortie/White',
       'Cream', 'Gray Tabby', 'White/Blue', 'Torbie/White',
       'Black Smoke/White', 'Blue Tabby/Orange', 'Chocolate',
       'Black Smoke', 'Calico Point', 'Gray/White', 'Tricolor',
       'Tortie Point/Lynx Point', 'Calico/White', 'Black Tabby',
       'White/Chocolate Point', 'Calico Point/White', 'Seal Point/White',
       'Calico/Brown Tabby', 'Silver Tabby', 'Orange', 'Black/Orange',
       'Chocolate Point/White', 'Orange/White', 'Tortie/Blue Cream',
       'White/Black Tabby', 'Black/Silver Tabby', 'White/Lynx Point',
       'Blue Tabby/Blue Cream', 'White/Gray', 'Calico/Black',
       'Brown Tabby/Black', 'Buff/White', 'White/Brown', 'Brown Tiger',
       'Agouti', 'Calico/Tricolor', 'Blue Point/White', 'Gray Tabby/White',
       'Gray', 'Cream/White', 'Orange Tabby/Apricot', 'White/Orange',
       'Blue Smoke', 'Black Tabby/Orange', 'White/Cream',
       'Silver Tabby/White', 'Black/Brown', 'Black/Black Smoke',
       'Black/Black', 'Black Smoke/Brown Tabby', 'Chocolate Point',
       'Blue/Tortie', 'Tortie/Orange', 'Seal Point/Brown',
       'Blue Tabby/Tan', 'Tortie/Brown', 'Gray/Black', 'Black/Black Tabby',
       'Brown Tabby/Gray', 'Chocolate/Black Smoke', 'White/White',
       'Brown/Black Tabby', 'Lynx Point/Brown Tabby', 'Torbie/Brown',
       'Pink', 'Black/Chocolate', 'Silver Lynx Point',
       'Orange Tabby/Black', 'Tortie/Black', 'Brown Tabby/Brown',
       'Torbie/Blue Cream', 'White/Black Smoke', 'Tan', 'Brown/Black',
       'Silver', 'Tortie Point/White', 'Blue Cream/Buff', 'Blue/Orange',
       'Calico/Brown', 'Torbie/Calico', 'Brown/White', 'White/Gray Tabby',
       'White/Yellow', 'Chocolate/White', 'Blue/Cream', 'Blue/Brown',
       'Calico/Orange Tabby', 'White/Flame Point', 'White/Calico', 'Buff',
       'Agouti/Brown Tabby', 'Brown Tabby/Tortie', 'Cream/Seal Point',
       'Lynx Point/Gray Tabby', 'Black/Silver', 'Blue Tabby/Cream',
       'Silver Tabby/Black', 'Blue Cream/White', 'Tortie/Black Smoke',
       'Orange/Orange Tabby', 'Blue Cream/Tortie', 'Orange Tabby/Orange',
       'Black Tiger/White', 'Brown', 'Brown Tabby/Orange', 'Black/Gray',
       'Calico/Blue Cream', 'Blue Cream/Blue Tabby', 'Calico/Blue Tabby',
       'Orange Tiger', 'Cream/Orange', 'Tricolor/Calico',
       'Brown Tabby/Gray Tabby', 'Gray Tabby/Black'], dtype=object)