In [1]:
import os

import pandas as pd
pd.set_option('display.max_rows', 6)
pd.set_option('display.notebook_repr_html', True)
pd.set_option('display.max_columns', 10)

In [13]:
url = 'https://raw.githubusercontent.com/allisonchenzhujun/DS-SF-25/master/classes/02/datasets/ozone.csv'
df = pd.read_csv(url)

In [14]:
# Display first rows or samples of the df. 

print(df)
df.head()

     Ozone  Solar.R  Wind  Temp  Month  Day
0     41.0    190.0   7.4    67      5    1
1     36.0    118.0   8.0    72      5    2
2     12.0    149.0  12.6    74      5    3
..     ...      ...   ...   ...    ...  ...
150   14.0    191.0  14.3    75      9   28
151   18.0    131.0   8.0    76      9   29
152   20.0    223.0  11.5    68      9   30

[153 rows x 6 columns]

In [21]:
# How many rows in the dataset 
df.shape[0]  
len(df)

153

In [24]:
# Print each column per row
for column in df.columns:
    print(column)

Ozone
Solar.R
Wind
Temp
Month
Day

In [25]:
#How many variabels in the dataset 
df.shape[1]
len(df.columns)

6

In [27]:
# Print first two 2 rows 
df.ix[0:1] # or df.head(2)

   Ozone  Solar.R  Wind  Temp  Month  Day
1   36.0    118.0   8.0    72      5    2
2   12.0    149.0  12.6    74      5    3

In [31]:
# Print last 2 rows
df[-2:] # or 
df.tail(2)

     Ozone  Solar.R  Wind  Temp  Month  Day
151   18.0    131.0   8.0    76      9   29
152   20.0    223.0  11.5    68      9   30

In [36]:
#Print row 47th 
df.ix[47]

Ozone       37.0
Solar.R    284.0
Wind        20.7
Temp        72.0
Month        6.0
Day         17.0
Name: 47, dtype: float64

In [37]:
df.ix[47,'Ozone']

37.0

In [39]:
df.ix[47]['Ozone']

37.0

In [40]:
df.ix[47].Ozone

37.0

In [42]:
# Average excluding NA for Ozone
df.Ozone.mean() # automatically omit NAs

42.12931034482759

In [43]:
df.Ozone.dropna().mean()

42.12931034482759

In [44]:
#Subset with rules 
subset_df = df[(df.Ozone >31) & (df.Temp >90)]
subset_df

     Ozone  Solar.R  Wind  Temp  Month  Day
68    97.0    267.0   6.3    92      7    8
69    97.0    272.0   5.7    92      7    9
119   76.0    203.0   9.7    97      8   28
..     ...      ...   ...   ...    ...  ...
124   78.0    197.0   5.1    92      9    2
125   73.0    183.0   2.8    93      9    3
126   91.0    189.0   4.6    93      9    4

[10 rows x 6 columns]

In [45]:
#Mean of Solar.R in subset 
subset_df['Solar.R'].mean() # Becase of the Solar.R, you can not do subset.Solar.R.mean()

212.8

In [47]:
#Mean of Temp when Month = 6 
df[df.Month == 6].Temp.mean()

79.1

In [48]:
#OZone's Max in the month of May 
df[df.Month ==5].Ozone.max()

115.0