In [15]:
import os

import numpy as np
import pandas as pd
pd.set_option('display.max_rows', 10)
pd.set_option('display.notebook_repr_html', True)
pd.set_option('display.max_columns', 20)

import seaborn as sns

import statsmodels.api as sm
import statsmodels.formula.api as smf

from sklearn import linear_model

import matplotlib.pyplot as plt
%matplotlib inline
plt.style.use('ggplot')

## Team dataset

In [21]:
def read_dataset(x):
    return pd.read_csv(os.path.join('..', 'datasets', x))

df_team_stats = read_dataset('top100_nba_historical_teams.csv')

In [22]:
df_team_stats

,Rk,Season,Tm,Lg,G,W,L,W/L%,MP,FG,...,ORtg,DRtg,eFG%,TOV%,ORB%,FT/FGA,oop_eFG%,oop_TOV%,oop_ORB%,oop_FT/FGA
0,1,1970-71,MIL*,NBA,82,66,16,0.805,19780.0,3972,...,NaN,NaN,0.509,NaN,NaN,0.226,0.424,NaN,NaN,0.210
1,2,1995-96,CHI*,NBA,82,72,10,0.878,19730.0,3293,...,115.2,101.8,0.517,13.1,36.9,0.217,0.482,16.1,28.9,0.222
2,3,1971-72,LAL*,NBA,82,69,13,0.841,19755.0,3920,...,NaN,NaN,0.490,NaN,NaN,0.260,0.432,NaN,NaN,0.177
3,4,1971-72,MIL*,NBA,82,63,19,0.768,19780.0,3813,...,NaN,NaN,0.498,NaN,NaN,0.232,0.420,NaN,NaN,0.217
4,5,1996-97,CHI*,NBA,82,69,13,0.841,19730.0,3277,...,114.4,102.4,0.511,12.5,35.9,0.199,0.471,14.8,30.7,0.196
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,96,1984-85,BOS*,NBA,82,63,19,0.768,19705.0,3721,...,112.8,106.3,0.515,13.8,32.8,0.254,0.481,12.6,29.6,0.198
96,97,1994-95,ORL*,NBA,82,57,25,0.695,19930.0,3460,...,115.1,107.8,0.539,14.0,34.0,0.239,0.490,13.3,31.6,0.220
97,98,2011-12,OKC*,NBA,66,47,19,0.712,15990.0,2462,...,109.8,103.2,0.516,15.3,27.8,0.269,0.465,13.0,27.9,0.207
98,99,2012-13,LAC*,NBA,82,56,26,0.683,19730.0,3160,...,110.6,103.6,0.526,13.9,28.8,0.203,0.492,15.4,26.5,0.229
99,100,1983-84,BOS*,NBA,82,62,20,0.756,19955.0,3616,...,110.9,104.4,0.504,14.6,34.2,0.264,0.475,13.8,30.3,0.225

In [18]:
df.describe()

,Rk,G,W,L,W/L%,MP,FG,FGA,2P,2PA,...,ORtg,DRtg,eFG%,TOV%,ORB%,FT/FGA,oop_eFG%,oop_TOV%,oop_ORB%,oop_FT/FGA
count,100.000000,100.000000,100.000000,100.000000,100.000000,92.000000,100.000000,100.000000,100.000000,100.00000,...,80.000000,80.000000,100.000000,80.000000,80.000000,100.000000,87.000000,80.000000,80.00000,87.000000
mean,50.500000,80.150000,59.830000,20.320000,0.746800,19574.728261,3286.230000,6940.970000,2954.390000,6044.08000,...,110.840000,102.695000,0.497420,13.746250,29.988750,0.241710,0.468483,14.241250,28.56500,0.222885
std,29.011492,5.682465,5.608534,4.306162,0.048731,1048.219936,481.778373,829.350086,611.776398,1295.62835,...,3.260954,3.258791,0.044546,1.173003,4.244043,0.033507,0.019041,1.446925,3.24997,0.032442
min,1.000000,50.000000,37.000000,9.000000,0.659000,12075.000000,1723.000000,3812.000000,1568.000000,3291.00000,...,98.000000,91.300000,0.297000,10.900000,20.500000,0.163000,0.420000,11.700000,20.90000,0.139000
25%,25.750000,82.000000,57.000000,17.000000,0.707000,NaN,3074.750000,6453.000000,2507.250000,5026.50000,...,NaN,NaN,0.490000,NaN,NaN,0.218750,NaN,NaN,NaN,NaN
50%,50.500000,82.000000,60.000000,21.000000,0.744000,NaN,3332.000000,6917.000000,2795.000000,5745.50000,...,NaN,NaN,0.509000,NaN,NaN,0.244000,NaN,NaN,NaN,NaN
75%,75.250000,82.000000,63.000000,24.000000,0.769750,NaN,3617.500000,7315.250000,3556.500000,6962.75000,...,NaN,NaN,0.525250,NaN,NaN,0.264250,NaN,NaN,NaN,NaN
max,100.000000,82.000000,73.000000,28.000000,0.890000,19955.000000,3972.000000,9109.000000,3972.000000,9109.00000,...,115.600000,107.800000,0.563000,17.300000,37.200000,0.322000,0.501000,18.200000,34.40000,0.294000

## Individual team dataset

In [23]:
df_indiv_team = read_dataset('95-96_chi.csv')

In [30]:
df_indiv_team

,Rk,G,Date,Unnamed: 3,Opp,W/L,Tm,Opp.1,FG,FGA,...,FT.1,FTA.1,FT%.1,ORB.1,TRB.1,AST.1,STL.1,BLK.1,TOV.1,PF.1
0,1,1,11/3/95,NaN,CHH,W,105,91,43,86,...,16,25,0.640,14,43,14,8,4,19,22
1,2,2,11/4/95,NaN,BOS,W,107,85,43,88,...,25,43,0.581,11,44,17,7,4,25,24
2,3,3,11/7/95,NaN,TOR,W,117,108,44,80,...,30,37,0.811,7,32,25,6,3,19,26
3,4,4,11/9/95,@,CLE,W,106,88,41,79,...,19,23,0.826,9,34,27,9,1,9,18
4,5,5,11/11/95,NaN,POR,W,110,106,40,81,...,18,30,0.600,15,40,23,4,1,17,25
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
77,78,78,4/14/96,@,CLE,W,98,72,34,70,...,6,10,0.600,11,33,20,7,3,16,15
78,79,79,4/16/96,@,MIL,W,86,80,33,85,...,9,15,0.600,10,42,14,7,1,9,22
79,80,80,4/18/96,NaN,DET,W,110,79,43,87,...,10,20,0.500,11,36,12,12,2,17,21
80,81,81,4/20/96,NaN,IND,L,99,100,40,90,...,26,41,0.634,11,39,15,14,3,17,16
81,82,82,4/21/96,@,WSB,W,103,93,41,89,...,17,23,0.739,13,43,19,4,9,14,20