# DS-SF-25 | Lab 02 - Research Design and `pandas`

> ## Question 1.  Import `pandas` (as `pd`).

In [2]:
import os

import pandas as pd

pd.set_option('display.max_rows', 6)
pd.set_option('display.notebook_repr_html', True)
pd.set_option('display.max_columns', 10)

In [3]:
df = pd.read_csv(os.path.join('..', 'datasets', 'ozone.csv'))

> ## Question 2.  Display a few lines of the dataset to the screen.

In [4]:
df

     Ozone  Solar.R  Wind  Temp  Month  Day
0     41.0    190.0   7.4    67      5    1
1     36.0    118.0   8.0    72      5    2
2     12.0    149.0  12.6    74      5    3
..     ...      ...   ...   ...    ...  ...
150   14.0    191.0  14.3    75      9   28
151   18.0    131.0   8.0    76      9   29
152   20.0    223.0  11.5    68      9   30

[153 rows x 6 columns]

> ## Question 3.  How many samples (i.e., rows) are in this dataset?

In [5]:
df.shape[0]

153

> ## Question 4.  Print the name of each column in the dataset, one name per line.

In [6]:
df.columns
i=0
while i < 6:
    print list(df)[i]
    i+=1

Ozone
Solar.R
Wind
Temp
Month
Day

> ## Question 5.  How many variables (i.e., columns) are in this dataset?

In [7]:
df.shape[1]

6

> ## Question 6.  Extract the first 2 rows of the dataset and print them to the console.  What does the output look like?

In [8]:
df[0:2]

   Ozone  Solar.R  Wind  Temp  Month  Day
0   41.0    190.0   7.4    67      5    1
1   36.0    118.0   8.0    72      5    2

> ## Question 7.  Extract the last 2 rows of the data frame and print them to the console.  What does the output look like?

In [9]:
df[(len(df)-2):(len(df))]

     Ozone  Solar.R  Wind  Temp  Month  Day
151   18.0    131.0   8.0    76      9   29
152   20.0    223.0  11.5    68      9   30

> ## Question 8.  What is the value of Ozone in the 47th row?

In [14]:
df.at[46,"Ozone"]
df.loc[46]

Ozone       21.0
Solar.R    191.0
Wind        14.9
Temp        77.0
Month        6.0
Day         16.0
Name: 46, dtype: float64

> ## Question 9.  How many missing values are in the `Ozone` column of this dataset?

In [35]:
df[df.Ozone.isnull()]

     Ozone  Solar.R  Wind  Temp  Month  Day
4      NaN      NaN  14.3    56      5    5
9      NaN    194.0   8.6    69      5   10
24     NaN     66.0  16.6    57      5   25
..     ...      ...   ...   ...    ...  ...
114    NaN    255.0  12.6    75      8   23
118    NaN    153.0   5.7    88      8   27
149    NaN    145.0  13.2    77      9   27

[37 rows x 6 columns]

> ## Question 10.  What is the mean of the `Ozone` column in this dataset?  Exclude missing values (coded as `NaN`) from this calculation.

In [53]:
df_avg=df[[0]].dropna()
df_avg.mean()

Ozone    42.12931
dtype: float64

> ## Question 11.  Extract the subset of rows of the dataset where `Ozone` values are above 31 and `Temp` values are above 90.

In [36]:
df[(df.Ozone > 31) & (df.Temp >90)]

     Ozone  Solar.R  Wind  Temp  Month  Day
68    97.0    267.0   6.3    92      7    8
69    97.0    272.0   5.7    92      7    9
119   76.0    203.0   9.7    97      8   28
..     ...      ...   ...   ...    ...  ...
124   78.0    197.0   5.1    92      9    2
125   73.0    183.0   2.8    93      9    3
126   91.0    189.0   4.6    93      9    4

[10 rows x 6 columns]

> ## Question 12.  What is the mean of `Solar.R` in this subset?

In [40]:
df[(df.Ozone > 31) & (df.Temp >90)].mean()

Ozone       89.5
Solar.R    212.8
Wind         5.6
Temp        93.4
Month        8.2
Day         14.5
dtype: float64

> ## Question 13.  What is the mean of `Temp` when `Month` is equal to 6?

In [41]:
df[df.Month ==6].mean()

Ozone       29.444444
Solar.R    190.166667
Wind        10.266667
Temp        79.100000
Month        6.000000
Day         15.500000
dtype: float64

> ## Question 14.  What was `Ozone`'s maximum in the month of May?

In [43]:
df.Month.unique

<bound method Series.unique of 0      5
1      5
2      5
      ..
150    9
151    9
152    9
Name: Month, dtype: int64>

In [42]:
df[df.Month ==5].max()

Ozone      115.0
Solar.R    334.0
Wind        20.1
Temp        81.0
Month        5.0
Day         31.0
dtype: float64