In [12]:
import os
import math
import pandas as pd

df = pd.read_csv(os.path.join('..','datasets', 'shelter-animal-outcomes.csv.gz'))
pd.set_option('display.max_rows', 10)
pd.set_option('display.notebook_repr_html', True)

import matplotlib.pyplot as plt
%matplotlib inline
plt.style.use('ggplot')

In [13]:
df

,AnimalID,Name,DateTime,OutcomeType,OutcomeSubtype,AnimalType,SexuponOutcome,AgeuponOutcome,Breed,Color
0,A671945,Hambone,2014-02-12 18:22:00,Return_to_owner,NaN,Dog,Neutered Male,1 year,Shetland Sheepdog Mix,Brown/White
1,A656520,Emily,2013-10-13 12:44:00,Euthanasia,Suffering,Cat,Spayed Female,1 year,Domestic Shorthair Mix,Cream Tabby
2,A686464,Pearce,2015-01-31 12:28:00,Adoption,Foster,Dog,Neutered Male,2 years,Pit Bull Mix,Blue/White
3,A683430,NaN,2014-07-11 19:09:00,Transfer,Partner,Cat,Intact Male,3 weeks,Domestic Shorthair Mix,Blue Cream
4,A667013,NaN,2013-11-15 12:52:00,Transfer,Partner,Dog,Neutered Male,2 years,Lhasa Apso/Miniature Poodle,Tan
...,...,...,...,...,...,...,...,...,...,...
26724,A702446,NaN,2015-05-14 11:56:00,Transfer,Partner,Cat,Intact Male,1 month,Domestic Shorthair Mix,Brown Tabby/White
26725,A718934,NaN,2016-01-20 18:59:00,Transfer,SCRP,Cat,Spayed Female,3 months,Domestic Shorthair Mix,Brown Tabby
26726,A698128,Zeus,2015-03-09 13:33:00,Adoption,NaN,Dog,Neutered Male,4 years,Old English Bulldog Mix,White/Tan
26727,A677478,NaN,2014-04-27 12:22:00,Transfer,Partner,Cat,Intact Male,4 weeks,Domestic Shorthair Mix,Black
26728,A706629,NaN,2015-07-02 09:00:00,Transfer,SCRP,Cat,Intact Male,1 year,Domestic Shorthair Mix,Brown Tabby/White

In [14]:
df.describe()

,AnimalID,Name,DateTime,OutcomeType,OutcomeSubtype,AnimalType,SexuponOutcome,AgeuponOutcome,Breed,Color
count,26729,19038,26729,26729,13117,26729,26728,26711,26729,26729
unique,26729,6374,22918,5,16,2,5,44,1380,366
top,A705677,Max,2015-08-11 00:00:00,Adoption,Partner,Dog,Neutered Male,1 year,Domestic Shorthair Mix,Black/White
freq,1,136,19,10769,7816,15595,9779,3969,8810,2824

In [30]:
df.OutcomeType.value_counts()

Adoption           10769
Transfer            9422
Return_to_owner     4786
Euthanasia          1555
Died                 197
Name: OutcomeType, dtype: int64

In [31]:
pd.crosstab(df.OutcomeType, df.OutcomeSubtype)

OutcomeSubtype,Aggressive,At Vet,Barn,Behavior,Court/Investigation,Enroute,Foster,In Foster,In Kennel,In Surgery,Medical,Offsite,Partner,Rabies Risk,SCRP,Suffering
OutcomeType,,,,,,,,,,,,,,,,
Adoption,0,0,1,0,0,0,1800,0,0,0,0,165,0,0,0,0
Died,0,4,0,0,0,8,0,52,114,3,0,0,0,0,0,0
Euthanasia,320,0,0,86,6,0,0,0,0,0,66,0,0,74,0,1002
Transfer,0,0,1,0,0,0,0,0,0,0,0,0,7816,0,1599,0

In [32]:
df.AgeuponOutcome.unique()

array(['1 year', '2 years', '3 weeks', '1 month', '5 months', '4 years',
       '3 months', '2 weeks', '2 months', '10 months', '6 months',
       '5 years', '7 years', '3 years', '4 months', '12 years', '9 years',
       '6 years', '1 weeks', '11 years', '4 weeks', '7 months', '8 years',
       '11 months', '4 days', '9 months', '8 months', '15 years',
       '10 years', '1 week', '0 years', '14 years', '3 days', '6 days',
       '5 days', '5 weeks', '2 days', '16 years', '1 day', '13 years', nan,
       '17 years', '18 years', '19 years', '20 years'], dtype=object)

In [33]:
df.AnimalType.value_counts()

Dog    15595
Cat    11134
Name: AnimalType, dtype: int64

In [34]:
df.Name.value_counts()

Max            136
Bella          135
Charlie        107
Daisy          106
Lucy            94
              ...
Sally Jessy      1
Nelda            1
Hobie Cat        1
Madi             1
Sumi             1
Name: Name, dtype: int64

In [35]:
df.DateTime

0        2014-02-12 18:22:00
1        2013-10-13 12:44:00
2        2015-01-31 12:28:00
3        2014-07-11 19:09:00
4        2013-11-15 12:52:00
                ...
26724    2015-05-14 11:56:00
26725    2016-01-20 18:59:00
26726    2015-03-09 13:33:00
26727    2014-04-27 12:22:00
26728    2015-07-02 09:00:00
Name: DateTime, dtype: object

In [36]:
df.DateTime.mode()

0    2015-08-11 00:00:00
dtype: object

In [44]:
df.DateTime[-1:]

26728    2015-07-02 09:00:00
Name: DateTime, dtype: object

In [40]:
a = pd.to_datetime('2015-07-02 09:00:00')

In [41]:
a.year

2015

In [46]:
df.DateTime=pd.to_datetime(df.DateTime)

In [47]:
df.DateTime

0       2014-02-12 18:22:00
1       2013-10-13 12:44:00
2       2015-01-31 12:28:00
3       2014-07-11 19:09:00
4       2013-11-15 12:52:00
                ...
26724   2015-05-14 11:56:00
26725   2016-01-20 18:59:00
26726   2015-03-09 13:33:00
26727   2014-04-27 12:22:00
26728   2015-07-02 09:00:00
Name: DateTime, dtype: datetime64[ns]

In [48]:
df.OutcomeType.unique()

array(['Return_to_owner', 'Euthanasia', 'Adoption', 'Transfer', 'Died'], dtype=object)

In [50]:
df.OutcomeType.value_counts()

Adoption           10769
Transfer            9422
Return_to_owner     4786
Euthanasia          1555
Died                 197
Name: OutcomeType, dtype: int64

In [51]:
df.OutcomeSubtype.unique()

array([nan, 'Suffering', 'Foster', 'Partner', 'Offsite', 'SCRP',
       'Aggressive', 'Behavior', 'Rabies Risk', 'Medical', 'In Kennel',
       'In Foster', 'Barn', 'Court/Investigation', 'Enroute', 'At Vet',
       'In Surgery'], dtype=object)

In [52]:
pd.crosstab(df.OutcomeSubtype, df.OutcomeType)

OutcomeType          Adoption  Died  Euthanasia  Transfer
OutcomeSubtype
Aggressive                  0     0         320         0
At Vet                      0     4           0         0
Barn                        1     0           0         1
Behavior                    0     0          86         0
Court/Investigation         0     0           6         0
...                       ...   ...         ...       ...
Offsite                   165     0           0         0
Partner                     0     0           0      7816
Rabies Risk                 0     0          74         0
SCRP                        0     0           0      1599
Suffering                   0     0        1002         0

[16 rows x 4 columns]

In [53]:
df.columns

Index([u'AnimalID', u'Name', u'DateTime', u'OutcomeType', u'OutcomeSubtype',
       u'AnimalType', u'SexuponOutcome', u'AgeuponOutcome', u'Breed',
       u'Color'],
      dtype='object')

In [64]:
df1 = df [df.AnimalType == 'Dog']

In [69]:
df2 = df1[(df1.SexuponOutcome == 'Intact Male') | (df1.SexuponOutcome == 'Neutered Male')]

In [70]:
df2.Name.mode()

0    Max
dtype: object

In [72]:
df2.Name.value_counts()

Max        112
Buddy       78
Rocky       76
Charlie     75
Chico       52
          ...
Prada        1
Eubie        1
Yoakum       1
Frisbee      1
Leeland      1
Name: Name, dtype: int64

In [78]:
df_female_cat = df[(df.AnimalType == 'Cat') & ((df.SexuponOutcome == 'Spayed Female') | (df.SexuponOutcome == 'Intact Female'))]

In [84]:
df_female_cat.Name.mode()

0    Bella
dtype: object

In [104]:
df['Sex'] = df.SexuponOutcome.map({'Neutered Male': 'Male', 'Intact Male': 'Male', 'Spayed Female': 'Female', 'Intact Female': 'Female', 'Unknown': 'Unknown'})

In [105]:
pd.crosstab(df.SexuponOutcome, df.Sex)

Sex             Female  Male  Unknown
SexuponOutcome
Intact Female     3511     0        0
Intact Male          0  3525        0
Neutered Male        0  9779        0
Spayed Female     8820     0        0
Unknown              0     0     1093

In [106]:
df['Sterilized'] = df.SexuponOutcome.map({'Neutered Male': False, 'Intact Male': True, 'Spayed Female': False, 'Intact Female': True, 'Unknown': 'Unknown','nan':'Unknown'})

In [107]:
pd.crosstab(df.SexuponOutcome, df.Sterilized)

Sterilized      False  True  Unknown
SexuponOutcome
Intact Female       0  3511        0
Intact Male         0  3525        0
Neutered Male    9779     0        0
Spayed Female    8820     0        0
Unknown             0     0     1093

In [100]:
df.SexuponOutcome.value_counts()

Neutered Male    9779
Spayed Female    8820
Intact Male      3525
Intact Female    3511
Unknown          1093
Name: SexuponOutcome, dtype: int64

In [ ]:
if df.iat(i, 'SexuponOutcome') == 'Neutered Male'

In [108]:
df['OutcomeType2'] = df.OutcomeType.apply(lambda outcome: 'ReturnToOwner' if outcome == 'Return_to_owner' else outcome)

In [113]:
df['OutcomeType2'].value_counts()

Adoption         10769
Transfer          9422
ReturnToOwner     4786
Euthanasia        1555
Died               197
Name: OutcomeType2, dtype: int64

In [114]:
def my_outcome(outcome):
    if outcome == 'Return_to_owner':
        return 'ReturnToOwner'
    else:
        return outcome

In [115]:
df['OutcomeType2'] = df.OutcomeType.apply(my_outcome)

In [116]:
df['OutcomeType2'].value_counts()

Adoption         10769
Transfer          9422
ReturnToOwner     4786
Euthanasia        1555
Died               197
Name: OutcomeType2, dtype: int64

In [120]:
def my_sex(sex):
    if sex == 'Neutered Male':
        return 'Male'
    elif sex == 'Intact Male':
        return 'Male'
    elif sex == 'Spayed Female':
        return 'Female'
    elif sex =='Intact Female':
        return 'Female'
    else:
        return sex

In [121]:
'Male' in 'Neutered Male'

True

In [123]:
def my_sex1(sex):
    if 'Male' in sex:        
        return 'Male'
    elif 'Female' in sexm:
        return 'Female'
    else:
        return np.nan

In [131]:
type(df.at[0,'AgeuponOutcome'])

str

In [155]:
def my_age(age):
    age1 = str(age)
    if age1 == 'nan':
        return age
    else:
        age2 = age1.split(" ")
        if 'year' in age2[1]:
            return float(age2[0])*52
        elif 'years'in age2[1]:
            return float(age2[0])*52
        elif 'month' in age2[1]:
            return float(age2[0])*4
        elif 'months' in age2[1]:
            return float(age2[0])*4
        elif 'day' in age2[1]:
            return float(age2[0])/7
        elif 'days' in age2[1]:
            return float(age2[0])/7

In [156]:
df['AgeInWeeks'] = df.AgeuponOutcome.apply(my_age)

In [157]:
df.AgeInWeeks

0         52.0
1         52.0
2        104.0
3          NaN
4        104.0
         ...
26724      4.0
26725     12.0
26726    208.0
26727      NaN
26728     52.0
Name: AgeInWeeks, dtype: float64

In [158]:
a ='1 year'

In [144]:
(number, unit) = a.split (' ')

In [146]:
number=float(number)

In [147]:
number*10

10.0

In [159]:
def my_age_ivan(age):
    (value, unit) = a.split (' ')
    value = float(value)
    if ((unit == 'day') | (unit == 'days')):
        return value
    elif ((unit == 'week') | (unit == 'weeks')):
        return value*7
    elif 'month' in unit:
        return value*30.5
    ....

SyntaxError: invalid syntax (<ipython-input-159-bbe331e8a620>, line 10)

In [163]:
df.Breed.unique()

array(['Shetland Sheepdog Mix', 'Domestic Shorthair Mix', 'Pit Bull Mix',
       ..., 'Vizsla/Boxer', 'German Shepherd/Australian Kelpie',
       'Boxer/German Shepherd'], dtype=object)

In [170]:
df.Color.unique().shape[0]

366

In [173]:
df.Breed.unique().shape[0]

1380

In [174]:
df.Breed.mode()

0    Domestic Shorthair Mix
dtype: object

In [175]:
df.Color.mode()

0    Black/White
dtype: object

In [176]:
df.Breed.value_counts()

Domestic Shorthair Mix                   8810
Pit Bull Mix                             1906
Chihuahua Shorthair Mix                  1766
Labrador Retriever Mix                   1363
Domestic Medium Hair Mix                  839
                                         ...
Norfolk Terrier/Dachshund                   1
Golden Retriever/Whippet                    1
Chihuahua Shorthair/Shetland Sheepdog       1
Vizsla/Boxer                                1
Dachshund/Cavalier Span                     1
Name: Breed, dtype: int64

In [177]:
df.Color.value_counts()

Black/White                 2824
Black                       2292
Brown Tabby                 1635
Brown Tabby/White            940
White                        931
                            ...
Blue Merle/Cream               1
Blue Tabby/Tan                 1
Brown Brindle/Blue Cream       1
Blue Cream/Buff                1
Blue Cream/Blue Tabby          1
Name: Color, dtype: int64

In [178]:
df.Color.unique()

array(['Brown/White', 'Cream Tabby', 'Blue/White', 'Blue Cream', 'Tan',
       'Black/Tan', 'Blue Tabby', 'Brown Tabby', 'Red/White', 'White',
       'Black', 'Silver', 'Brown', 'Black/Red', 'White/Cream',
       'Orange Tabby/White', 'Black/White', 'Brown Brindle/White',
       'Black/Brown', 'Orange Tabby', 'Chocolate/White', 'White/Tan',
       'Cream Tabby/White', 'Blue', 'Calico', 'Torbie', 'Brown/Black',
       'Yellow', 'Tricolor', 'White/Black', 'Tortie', 'Blue Tabby/White',
       'Gray/White', 'Tan/Black', 'Tan/White', 'Buff', 'Brown Tabby/White',
       'Red', 'Blue/Tan', 'Seal Point', 'Brown Brindle', 'White/Brown',
       'Gray', 'Yellow Brindle/White', 'Fawn/White', 'Flame Point',
       'Black Tabby/White', 'Tortie/Calico', 'Black/Brown Brindle',
       'White/Gray', 'Tan/Silver', 'Red Tick/Black', 'White/Cream Tabby',
       'Blue Merle', 'Chocolate/Tan', 'Sable', 'Brown Merle/White',
       'Brown Tiger/White', 'Liver/White', 'White/Blue Tabby',
       'Black/Gray', 'Cream', 'Chocolate', 'Blue Point', 'Apricot/White',
       'Red Merle/Black', 'White/Brown Tabby', 'Blue Merle/White', 'Fawn',
       'Lynx Point/White', 'Fawn/Black', 'Red Tick/White', 'Buff/Tan',
       'Brown Brindle/Red Tick', 'White/Blue', 'Lilac Point', 'Buff/White',
       'White/Orange Tabby', 'Tortie Point', 'Lynx Point', 'Tortie/White',
       'Black/Tricolor', 'Apricot', 'Red/Tan', 'Tan/Brown',
       'White/Tricolor', 'Brown/Tricolor', 'White/White', 'Gray Tabby',
       'Sable/White', 'Blue Tiger/White', 'Yellow Brindle',
       'White/Brown Brindle', 'Gold', 'Brown/Tan', 'Blue Tick',
       'Torbie/White', 'Black Smoke/White', 'Blue Tabby/Orange',
       'Red Merle', 'Tricolor/Blue', 'Yellow/White', 'Black Smoke',
       'Calico Point', 'Blue Cream/Blue Tiger', 'Blue Merle/Gray',
       'Brown/Silver', 'Tricolor/White', 'Sable/Black', 'Black Brindle',
       'Tortie Point/Lynx Point', 'Brown Brindle/Black', 'Black/Buff',
       'Calico/White', 'White/Orange', 'Black Tabby', 'Brown Merle',
       'Black Brindle/White', 'Tan/Gray', 'Blue Merle/Brown',
       'Red Merle/White', 'White/Chocolate Point', 'Silver/Black',
       'White/Red', 'Cream/Red Tick', 'Cream/White', 'White/Liver',
       'Chocolate/Gold', 'Calico Point/White', 'Brown/Brown',
       'Seal Point/White', 'White/Black Brindle', 'Red/Black',
       'Sable/Brown', 'Silver/Tan', 'White/Blue Merle',
       'Calico/Brown Tabby', 'Silver Tabby', 'Tan/Blue', 'Blue Merle/Tan',
       'Blue Tick/Black', 'Cream/Black', 'Chocolate/Tricolor',
       'Gold/White', 'Silver/Brown', 'Cream/Gray', 'Black/Blue Tick',
       'White/Chocolate', 'Black/Blue Merle', 'Red/Red Tick',
       'Tricolor/Black', 'Orange', 'Black/Orange', 'Tan/Buff',
       'Chocolate Point/White', 'Orange/White', 'Tortie/Blue Cream',
       'White/Black Tabby', 'Brown/Red Tick', 'Blue/Brown Brindle',
       'Black/Silver Tabby', 'Tan/Red', 'White/Lynx Point', 'Gray/Silver',
       'Red/Gold', 'White/Buff', 'Tan/Gold', 'Blue Tabby/Blue Cream',
       'Cream/Tan', 'Calico/Black', 'Sable/Tan', 'Blue/Black',
       'Brown Tabby/Black', 'Red/Cream', 'Brown Tiger', 'Agouti',
       'Gray/Tan', 'Calico/Tricolor', 'Black/Black', 'White/Blue Cream',
       'Brown/Gray', 'Blue Point/White', 'Gray Tabby/White',
       'White/Brown Tiger', 'Black/Cream', 'Red Tick/Tan',
       'Orange Tabby/Apricot', 'Red Tick/Brown', 'White/Brown Merle',
       'Fawn/Tricolor', 'Blue Smoke', 'Chocolate/Brown Brindle',
       'Black Brindle/Black', 'Tan/Cream', 'Black Tabby/Orange',
       'Apricot/Brown', 'Gray/Black', 'Buff/Red', 'Tan/Brown Brindle',
       'Brown/Red', 'Black/Silver', 'Red Tick', 'Blue Tick/White',
       'Silver Tabby/White', 'White/Apricot', 'White/Red Merle',
       'Fawn/Brown Brindle', 'Orange/Tan', 'Black/Black Smoke',
       'Brown/Chocolate', 'Liver Tick', 'Cream/Red',
       'Black Smoke/Brown Tabby', 'Gray/Cream', 'Chocolate Point',
       'Blue Merle/Tricolor', 'Red/Blue', 'Tricolor/Brown Merle',
       'Blue/Tortie', 'Blue Smoke/Brown', 'Red/Brown', 'White/Silver',
       'Tricolor/Brown', 'Chocolate/Brown', 'Blue Cream/White',
       'Chocolate/Red', 'Cream/Brown', 'Blue Merle/Cream', 'Buff/Black',
       'Tortie/Orange', 'Brown Merle/Black', 'Seal Point/Brown',
       'Blue Tabby/Tan', 'Red/Red Merle', 'Tortie/Brown', 'Sable/Cream',
       'Black/Black Tabby', 'Brown Tabby/Gray', 'Tan/Tan',
       'Blue Tick/Brown', 'Chocolate/Black Smoke', 'Brown/Black Tabby',
       'Brown/Buff', 'Yellow Brindle/Tan', 'Blue Tick/Tan',
       'Red Tick/Brown Merle', 'White/Yellow', 'Lynx Point/Brown Tabby',
       'Torbie/Brown', 'Liver/Buff', 'Tricolor/Tan', 'Chocolate/Black',
       'Pink', 'Black/Blue', 'White/Gold', 'Red Tick/Red',
       'Black/Yellow Brindle', 'Black/Chocolate', 'Silver Lynx Point',
       'Brown/Brown Merle', 'Orange Tabby/Black', 'Tortie/Black',
       'Brown Tabby/Brown', 'Brown Brindle/Tan', 'Torbie/Blue Cream',
       'Black Brindle/Brown', 'Red/Tricolor', 'Blue/Yellow Brindle',
       'White/Black Smoke', 'Ruddy/Cream', 'Blue Merle/Black',
       'White/Yellow Brindle', 'Blue/Cream', 'Gold/Yellow', 'Blue Tiger',
       'Tan/Brown Merle', 'White/Red Tick', 'Buff/Yellow',
       'Tricolor/Chocolate', 'Silver/White', 'Gold/Tan', 'Gold/Gold',
       'Tortie Point/White', 'Blue Tick/Red Tick', 'Brown Merle/Tan',
       'Red Tick/Blue Tick', 'Brown/Blue Smoke', 'Liver/Tan',
       'Red Merle/Tan', 'Black/Black Brindle', 'Blue Cream/Buff',
       'Gray/Brown', 'Blue/Orange', 'Brown Merle/Blue Merle', 'White/Pink',
       'Calico/Brown', 'Torbie/Calico', 'White/Gray Tabby',
       'Brown Brindle/Blue', 'Brown/Blue', 'Blue Merle/Red',
       'Brown Brindle/Brown Merle', 'Blue/Brown', 'Calico/Orange Tabby',
       'White/Flame Point', 'Brown/Cream', 'Brown Brindle/Brown Brindle',
       'Blue Merle/Blue Merle', 'White/Calico', 'Fawn/Brown', 'Gold/Black',
       'Chocolate/Brown Merle', 'White/Blue Tick', 'Agouti/Brown Tabby',
       'Brown Tabby/Tortie', 'Black/Yellow', 'Chocolate/Red Tick',
       'Gray/Red', 'Brown Brindle/Blue Tick', 'Tan/Apricot',
       'Blue Tick/Brown Brindle', 'Liver Tick/White', 'Cream/Seal Point',
       'Lynx Point/Gray Tabby', 'Red/Buff', 'Tan/Tricolor',
       'Blue Tabby/Cream', 'Black Tiger/White', 'Silver/Chocolate',
       'Tricolor/Silver', 'Blue Merle/Red Merle', 'Silver Tabby/Black',
       'Tortie/Black Smoke', 'Orange/Orange Tabby', 'Fawn/Blue',
       'Black/Brown Merle', 'Tricolor/Blue Merle', 'Blue Cream/Tortie',
       'Orange Tabby/Orange', 'Blue Tick/Red', 'Fawn/Tan',
       'Brown Tabby/Orange', 'Yellow Brindle/Blue',
       'Brown Brindle/Blue Cream', 'Yellow/Black', 'Calico/Blue Cream',
       'Tan/Yellow Brindle', 'Black Brindle/Brown Brindle',
       'Chocolate/Cream', 'Blue Cream/Blue Tabby', 'Calico/Blue Tabby',
       'Orange Tiger', 'Cream/Orange', 'Sable/Red', 'Buff/Gray',
       'Gold/Buff', 'Silver/Red', 'Tricolor/Calico', 'Brown/Black Brindle',
       'Chocolate/Gray', 'Brown Tabby/Gray Tabby', 'Yellow/Yellow',
       'Gray Tabby/Black', 'Red/Silver', 'Buff/Brown', 'Sable/Buff'], dtype=object)